---
interface Props {
  title?: string;
  description?: string;
}

const { title = "Hyugin", description = "Personal philosophy and thoughts on engineering" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    {description && <meta name="description" content={description} />}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <slot />
  </body>
</html>
