name: Pull markdown files from dev.to daily
on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  markdown:
    name: Markdown
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install

      - name: pull version from dev.to
        run: cd packages/tools && hugios output articles
      - name: commit the code
        run: git add . && git commit -m "update markdown files" && git push
